table, th, td {
    border: 1px solid black;
    padding: 7px;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    background-color: lightgray;
    
  }
  
  svg {
      display: block;
  }

  header {
      background-color: red;
      color: white;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 800px;
      margin-bottom: 40px;
  }
  
  rect {
      fill: rgb(0,0,255);
      stroke-width: 3;
      stroke: rgb(0,0,0);
  }
  
  footer {
      font-size: 12px;
  }