* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.memoryGame {
    margin: 20px auto;
    display: grid;
    width: 700px;
    grid-template-columns: 200px 200px 200px;
    grid-row: auto auto auto;
    grid-gap: 20px;

}

.imgGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slategray;
    color: white;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

img {
    width: 175px;
    height: 175px;
}

#img0 {
    order: 4;
}

#img1 {
    order: 5;
}

#img2 {
    order: 6;
}