* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

main {
    background-color: black;
    width: 30vw;
    height: 40vh;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    align-items: center;
    /* background-image: url("./images/pig-bg.png") */

    
}

div {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-color: #111;
    background-image: url("./images/pig-bg.png");
    background-size: cover;
}