.header {
    margin: auto;
    width: 50%;
    color: white;
    background-color: navy;
    padding: 40px;
    text-align: center;
}

.infobox {
    width: 50%;
    margin: auto;
}

.notepadMain {
    margin: auto;
    width: 50%;
    display: flex;
}

form {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
}

.NotesH1 {
    margin-left: 20px;
    margin-top: 100px;
}

.savedNote {
    margin-left: 20px;
}

.button {
    background-color: navy;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}


.reader {
    width: 50%;
    margin: auto;
    background-color: white;
}

.readerImg {
    max-width: 400px;
}

.gridContainer {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
}

.gridItem {
    margin-left: 20px;
}

.footer {
    width: 50%;
    margin: auto;
    left: 25%;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: white;
    background-color: navy;
    z-index: -1;
}