* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: black;
    text-align: center;
}

.title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 4rem;
    font-weight: 100;
}

.textbox {
    transform: scale(0.3);
    font-size: 2rem;
    background-color: transparent;
    color: transparent;
    padding: 50px;
    opacity: 0;
    transition: 0.2s;
    border-radius: 20px;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.082);
    animation: pulse 2s infinite;
    z-index: 2;
    opacity: 1;
}

.textbox:hover {
    transform: scale(1);
    animation: none;
    background-color: black;
    color: white;
}

.firstBox {
    position: absolute;
    margin-left: 41%;
    margin-right: 70%;
    margin-top: 20%;
    color: white;
    background-color: black;
    border: 1px solid gray;
    font-size: 2rem;
    z-index: 2;
    padding: 30px 50px 30px 50px;
    transition: 0.2s;
}

#textbox1 {
    display: none;
    position: absolute;
    margin-left: 70%;
    margin-top: 10%;
}

#textbox2 {
    display: none;
    position: absolute;
    margin-left: 5%;
    margin-top: 20%;
}

#textbox3 {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: calc(-11%);
    margin-top: 30%;
}

.boxTitle {
    font-size: 2rem;
    font-weight: 100;
}

.boxText {
    font-size: 1.2rem;
    font-weight: 100;
}

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
        box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }