* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* cursor: none; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: black;
    text-align: center;
}
.title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 4rem;
    font-weight: 100;
}

.textbox1 {
    transform: scale(0.3);
    position: absolute;
    left: 70%;
    top: 25%;
    border-radius: 30px;
    font-size: 2rem;
    background-color: transparent;
    color: transparent;
    padding: 50px;
    opacity: 0;
    transition: 1s;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.082);
    animation: pulse 2s infinite;
    z-index: 2;
    opacity: 1;
}

.textbox1:hover {
    /* opacity: 100; */
    transform: scale(1);
    animation: none;
    background-color: black;
    color: white;
}

.boxTitle {
    font-size: 2rem;
    font-weight: 100;
}

.boxText {
    font-size: 1.2rem;
    font-weight: 100;
}

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
        box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }